body{
  background-image: linear-gradient(to right, black, darkblue);
  color:yellow;
}
.App {
  text-align: center;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.btn-wrapper{
  display: grid;
  place-items: center;
  margin-top: 20px;
}
.die{
  color: cornsilk;
  font-size:10em;
  margin:10px;
}
.roll, .edit{
  background:  darkseagreen;
  color:white;
  padding:10px 30px;
  font-size:1.2rem;
  border-radius: 5px;
  width:18vw;
  margin:10px 0;
}
.roll:hover, .edit:hover{
  background:  #333;
  border:yellow solid 3px;
}
.modal{
  width:400px;
  height: 200px;
  background: white;
  border-radius: 5px;
  margin:auto;
  padding-top:20px;
}
input{
  width:70%;
  padding:5px;
  margin:10px;
}
.ok, .cancel{
  background:  rgb(47, 47, 207);
  color:white;
  padding:8px 30px;
  font-size:0.8rem;
  border-radius: 5px;
  margin:10px;

}
.message{
  font-size: 3rem;
}